<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="base.css" />
    {% block headExtras %}{% endblock %}
  </head>
  <body>
    <header>
      <h1><a href="/">{{ instanceName }}</a></h1>
      <p>Share videos that expire.</p>
      <div>
        <p>Dark mode</p>
        <label class="switch">
          <input type="checkbox" id="togglebutton" />
          <span class="slider round"></span>
        </label>
      </div>
    </header>
    <main>{% block main %}{% endblock %}</main>
    <footer>
      <p>
        View the <a href="https://github.com/erlliam/unnamed">source code</a>
      </p>
      <p>
        Inspired by <a href="https://bpa.st">https://bpa.st</a> (<a
          href="https://github.com/supakeen/pinnwand"
          >pinnwand</a
        >)
      </p>
    </footer>
  </body>
  <script src="theme.js"></script>
</html>
