    </main>
    <footer>
      <p>View the <a href="https://github.com/erlliam/unnamed">source code</a></p>
      <p>Inspired by <a href="https://bpa.st">https://bpa.st</a> (<a href="https://github.com/supakeen/pinnwand">pinnwand</a>)</p>
    </footer>
  </body>
</html>
