<%- include("top"); -%>

<style>

form button {
  font-size: 1.5rem;
}

.index-div {
  margin-top: 1rem;
}

</style>

<h2>Upload</h2>
<p>Select a video.
Select an expiration time for the video.
Press the upload button.
You will be given a link you can share with others.
Links automatically expire.
Once a link expires, the video is deleted.</p>

<form action="/upload" method="POST" enctype="multipart/form-data">
  <div class="index-div">
    <input type="file" name="video" required />
  </div>

  <div class="index-div">
    <select id="link-expiration" name="expirationMinutes">
      <option value="10">10 Minutes</option>
      <option value="30">30 Minutes</option>
    </select>
    <label for="link-expiration">Link expiration</label>
  </div>

  <div class="index-div">
    <input id="link-longer-url" type="checkbox" name="longerUrl">
    <label for="link-longer-url">Use a longer URL</label>
  </div>

  <div class="index-div">
    <button>Upload</button>
  </div>
</form>

<%- include("bottom"); -%>
