<%- include("top"); -%>

<section>
  <style>
.text-p {
  margin-top: 1rem;
  margin-bottom: 0;
}
  </style>

  <h2><%= heading -%></h2>

  <% for (let text of texts) { -%>
  <p class="text-p"><%= text -%></p>
  <% } -%>
</section>

<%- include("bottom"); -%>
