<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <style>
:root {
  font-family: sans-serif;
}

a {
  color: #6c83ff;
}

body {
  margin: 0;
  background-color: #f9f9f9;
}

header {
  padding: .25rem 0;
  text-align: center;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
}

header h1,
header p {
  margin: 0;
}

header p {
  font-size: .8rem;
}

main {
  margin: auto;
  max-width: 40rem;
}

section {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
}

section h2:first-of-type {
  margin-top: 0;
}

footer {
  max-width: 20rem;
  margin: 1rem auto;
  border-top: 1px solid #eeeeee;
  text-align: center;
}
    </style>
  </head>
  <body>
    <header>
      <h1><a href="/">unnamed</a></h1>
      <p>Share videos that expire.</p>
    </header>
    <main>
