{% extends "base.html" %}

{% block headExtras %}
<script>
document.addEventListener('DOMContentLoaded', () => {
  let expirationDate = new Date({{ expirationTimestamp }});
  let expiration = document.getElementById('expiration');
  expiration.textContent = expirationDate.toLocaleTimeString();
});
</script>
<style>
  video {
    display: block;
  }
</style>

<meta property="og:site_name" content="{{ instanceName }}" />
<meta property="og:url" content="{{ url }}/{{ videoId }}" />
<meta property="og:title" content="{{ videoId }}" />
<meta property="og:type" content="video.other" />
<meta property="og:video" content="{{ url }}/video/{{ videoId }}" />
{% endblock %}

{% block main %}
<section>
  <h2>Video</h2>
  <p>This video expires at <span id="expiration">{{ expirationTimestamp }}</span></p>

  <p><a href="/video/{{ videoId }}" download>Download</a></p>

  {% if requesterOwnsVideo %}
  <form method="POST">
    <p><button id="delete-button">Delete</button></p>
  </form>
  {% endif %}

  <video controls width="638" src="/video/{{ videoId }}"></video>
</section>
{% endblock %}
