<%- include("top"); -%>

<style>

video {
  display: block;
  margin: auto;
}

</style>

<a href="/video/<%= videoId %>" download>Download</a>

<video
  controls
  width="640"
  src="/video/<%= videoId %>"
></video>

<%- include("bottom"); -%>
