<%- include("top"); -%>

<h2>Video</h2>

<p><a href="/video/<%= videoId %>" download>Download</a></p>

<video
  controls
  width="640"
  src="/video/<%= videoId %>"
></video>

<%- include("bottom"); -%>
